#container
{
    width: 100%;
    
    
}
.nav-bar{
    background-color: hsl(0, 0%, 100%);
}
.nav-bar .logo img{
    margin: auto;
    display: block;
}

.nav-bar ul li a{
   
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
.nav-bar ul li a:hover{
    color: black;
    font: size 20px;
    text-shadow: 1px 5px 10px 
}
.banner img{

    width: 100%;
}

.h2{
    text-align: center;
}
.h3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa8f0d;
    padding: 20px;
    font-size: larger;
    color: #050505;
    font-weight: 800;
    margin: auto;
    text-align: center;
}

.footer{
    padding: 20px;
    margin: 10px 0 5px 0;
    background-color: #fa8f0d !important;
    text-align: right;
}
.modal {
    display: none;
  }
  
  .modal:target {
    display: block;
  }
.novosprodutos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fa8f0d;
}
.subtitle {
    font-size: larger;
    color: #050505;
    font-weight: 800;
    margin: auto;  
    text-align: center;
}

/* Parte quem somos/ historia */
.std .s7{
color: #636363;
font-family: Georgia,Times,"Times New Roman",serif;
font-size: 17px;
font-style: italic;
line-height: 28px;

}
.std{
    position: relative;
    left: 20px;
    width: 96%;
}


.h1{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #636363;
    border-bottom: 1px solid #ededed;
    padding-bottom: 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
}




/* Parte do imagem do carrosel */

.galery {
    width: 93%;
    height: 780px;
    background-color: black;
    overflow: hidden;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 19.9%;
    height: 100%;
}

/* Parte do Formulario */
#contact-form {
    background-color: #f4f4f4;
    padding: 20px;
    position: relative;
    left: 20px;
    width: 96%;
  }
  
  #contact-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  #contact-form input[type="text"],
  #contact-form input[type="email"],
  #contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  #contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
  }




/* Parte do Card */
.cards-container {
    display: flex;
    flex-wrap: nowrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: calc(100% / 3);
    margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.nomecard{
    margin: auto;
    display: block;
}
.nomecard1{
    position: relative;
    left:80px;
    width: 94%;
}


.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}