#container
{
    width: 100%;
    
}
.nav-bar{
    background-color: hsl(0, 0%, 100%);
}
.nav-bar .logo img{
    margin: auto;
    display: block;
}
.nav-bar .links_paginas ul{
    display: flex;
    text-align: center;
    list-style-type: none;
}
.nav-bar ul li a{
   
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
.nav-bar ul li a:hover{
    color: black;
    font: size 20px;
    text-shadow: 1px 5px 10px 
}
.banner img{

    width: 100%;
}
.historia{
    width: 70%;
    margin: auto;
    display: block;
}
.h2{
    text-align: center;
}
.historia p{
    text-align:center;
}
.colaboradores{
    text-align: center;
}
.colaboradores .cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 100px 0;
}
.colaboradores .cards img{
    width: 80px;
}
iframe{
    margin: auto;
    display: block;
}
footer{
    padding: 20px;
    margin: 10px 0 5px 0;
    background-color: #ccc;
    text-align: right;
}
.modal {
    display: none;
  }
  
  .modal:target {
    display: block;
  }